{% extends 'base.html' %}

{% block title %}100 Actors {% endblock %}
{% block h1 %} `Hundred actors by first name {% endblock %}
{% block h2 %}<small>Links</small>{% endblock %}
{% block content %}
    <section>

        <h1 class="title text-center">Actors page</h1>


        <div class="card detailed-view">
            <p>100 Actors</p>
            <div class="card">
                {% for actor_name in actors %}
                    <ul id="actors" style="list-style: none;">
                        <li id="modalBtn" data-toggle="modal" data-target="#exampleModal" data-id={{ actor_name.id }}>
                            {{ actor_name['name'].split(" ")[0] }}
                        </li>
                    </ul>
                {% endfor %}
            </div>

            <br>
            <a class="link" onclick="history.back()">Back</a>
            <br><br>
            <a class="link" href="/shows/most-rated/0">Most rated shows</a> <br>
            <br>
            <a class="link" href="/">Homepage</a> <br>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="result"></div>
        </div>
        <div>


        </div>
    </section>
{% endblock %}