{% extends 'base.html' %}
{% block title %} All simulations {% endblock %}

{% block content %}

    <section>
        <div class="card">
            <ul>
                <li>
                    <a class="link" href="/simulation1">Sim1</a> <br>
                </li>

                <li>
                    <a class="link" href="/sim2">Sim2</a>
                </li>
                <li>
                    <a class="link" href="/sim3">Sim3</a> <br>
                </li>
                <li>
                    <a class="link" href="/sim4">Sim4</a> <br>
                </li>

                <li>
                    <a class="link" href="/sim5">Sim5</a>
                </li>
                <li>
                    <a class="link" href="/sim6">Sim6</a> <br>
                </li>
                <li>
                    <a class="link" href="/sim7">Sim7</a> <br>
                </li>

                <li>
                    <a class="link" href="/sim8">Sim8</a>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}