{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block h1 %} Welcome {% endblock %}
{% block h2 %}<small>Links</small>{% endblock %}

{% block content %}
<div class="card">
    <h2>Welcome TV show lovers!</h2>
    <p>This great site is happy to bring you your favourite TV show's details.</p>

</div>
    <div class="card">
        <ul>
            {% for show in shows %}
                <li>
                    <a href="{{ '/tv-show/' + (show['id'] | string) }}">{{ show['title'] }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
