{% extends 'base.html' %}

{% block title %} Shows {% endblock %}
{% block h1 %} Shows {% endblock %}
{% block h2 %}<small>Links</small>{% endblock %}
{% block content %}
    <section>

        <nav class="breadcrumb">
            <font size="20"></font>
            <div class="pagination">

                {% for page in range(66) %}
                    <a href="{{ (page | string) }}">{{ page }}</a>
                {% endfor %}

            </div>

        </nav>

        <div class="card">
            Top 15 best rated shows:
            <table id="mostRatedTable">
                <thead>
                <tr>
                    <th onclick="w3.sortHTML('#mostRatedTable', '.item', 'td:nth-child(1)')"
                        style="cursor:pointer; text-align: left">Title &#8597;
                    </th>
                    <th onclick="w3.sortHTML('#mostRatedTable', '.item', 'td:nth-child(1)')"
                        style="cursor:pointer; text-align: left">Year &#8597;
                    </th>
                    <th onclick="w3.sortHTML('#mostRatedTable', '.item', 'td:nth-child(1)')"
                        style="cursor:pointer; text-align: left">Runtime &#8597;
                    </th>
                    <th onclick="w3.sortHTML('#mostRatedTable', '.item', 'td:nth-child(1)')"
                        style="cursor:pointer; text-align: left">Rating &#8597;
                    </th>
                    <th onclick="w3.sortHTML('#mostRatedTable', '.item', 'td:nth-child(1)')"
                        style="cursor:pointer; text-align: left">Genres &#8597;
                    </th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                </tr>
                </thead>
                <tbody>

                {% for show in shows %}
                    <tr class="item">
                        <td><a href="{{ '/tv-show/' + (show['id'] | string) }}">{{ show['title'] }}</a></td>
                        <td>{{ show['year'] }}</td>
                        <td>{{ show['runtime'] }}</td>
                        <td>{{ show['rating_string'] }}</td>
                        <td>{{ show['genres_list'] }}</td>

                        {% if show.trailer %}
                            <td><a href="{{ show['trailer'] }}">{{ show['trailer'] }}</a></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}

                        {% if show.homepage %}
                            <td><a href="{{ show['homepage'] }}">{{ show['homepage'] }}</a></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}

                    </tr>
                {% endfor %}

                </tbody>

            </table>



        </div>

    </section>
   {% endblock %}