{% extends 'base.html' %}

{% block title %}
    {% for show in shows %}
        {% if show['id'] == show_id %}
            {{ show['title'] }}
        {% endif %}
    {% endfor %} {% endblock %}
{% block h1 %} Show details {% endblock %}
{% block h2 %}<small>Links</small>{% endblock %}
{% block content %}
    <section>
        <div class="card">

            {% for show in shows %}
                {% if show['id'] == show_id %}

                    <div class="row">
                        <div class="col col-twothird">
                            {% if show.trailer %}
                                <p>Trailer:</p>
                                <iframe width="420" height="315"
                                        src="{{ show['trailer'].replace('watch?v=', 'embed/') }}"
                                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            {% endif %}

                            <p>Info:</p>
                            <h2>{{ show['title'] }}</h2>
                            <p class="small grayed"> Runtime: {{ runtime }} <span
                                    class="separator">|</span>Genre: {{ show['genres_list'] }}
                                <span class="separator">|</span> Released: {{ formatted_date }}
                                <span class="separator">|</span> {{ show['rating_string'] }} <span
                                        class="fa fa-star checked"></span></p>
                            <p>Overview:</p>
                            <p>{{ show['overview'] }}</p>

                            <p> Starring:
                                {% for actor in actors %}
                                    {% if actor !=  actors[-1] %}
                                        <a href="#">{{ actor['name'] }}</a>,
                                    {% else %}
                                        <a href="#">{{ actor['name'] }}</a>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            <div>

                <div class="card">
                    <p>Seasons:</p>
                    <table>
                        <thead>
                        <tr>
                            <td></td>
                            <td>Season</td>
                            <td>Overview</td>
                        </tr>

                        {% for season in seasons %}
                            <tr>
                                <td>{{ season.season_number }}</td>
                                <td>{{ season.title }}</td>
                                {% if season.overview %}
                                    <td>{{ season.overview }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </thead>
                    </table>


                </div>
            </div>
    </section>


{% endblock %}