{%  extends 'base.html' %}
{% block title %}Sim5{% endblock %}
{% block h1 %} Sim5 || <small>Click on list for more details</small> {% endblock %}
{% block content %}
<section>
    <div class="card">

        <ul class="tenLatestMovies">

            {% for movie in ten_latest %}

            <li class="tenLatest" data-id="{{ movie.show_id }}" >{{ movie.title }} - Released: {{ movie.released }}</li>

            {% endfor %}

        </ul>
    <div class="card">
    <ul class="popupSim5">

    </ul>
        </div>

    </div>
</section>

{% endblock %}