{% extends 'base.html' %}

{% block title %} Sim 1 {% endblock %}
{% block h1 %} Sim1 || <small>Click on list for more details</small> {% endblock %}
{% block h2 %}<small>Links</small>{% endblock %}
{% block content %}

    <div class="card">
        {% for show in shows %}
            <ul id="actors" style="list-style: none;">
                <li id="modalBtnSim" data-toggle="modal" data-target="#exampleModal" data-id={{ show.id }}>
                    {{ show.title }}
                </li>
            </ul>
        {% endfor %}
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
